#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 75px;
  z-index: 3;
  transition: all 0.5s ease;
  margin-bottom: 0px;
}
.dropdown-item{
  font-size: 25px !important;
}
.container2{
  display:flex ;
  justify-content: space-around;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 15px;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.nav-link{
  font-size: 30px !important;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    display: none;
  }
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Nav Menu Styling */

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu > li {
  float: left;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu a {
  padding: 8px 8px;
  /* padding-bottom: 0px;
  padding-top: 0px; */
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li a:hover, .nav-menu li a.menu-active {
  color: #71c55d;
  /* border-bottom: 3px solid #2a2c30; */
  /*não tinha border tambem eu que coloqieu*/
  /* border-bottom: 2px solid #F14B; */
  /*não tinha padding , eu coloquei e creou uma animação gostei*/
  /* padding-top: 0px; */
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
  font-size: 24px;
}

@media (max-width: 1024px) {
  #mobile-nav-toggle {
    display: inline;
  }
}


/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  height: 300px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
  border-bottom: 1px solid white;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}